#photo {
    width: 292px; height: 468px;
}

#section1 {
    background-color: #FFB2B2;
    text-align:center;
}

#section2 {
    background-color: #FFFACC;
    text-align:center;
}

#section3 {
    background-color: #A5D8D8;
    text-align:center;
}

#profile {
  width: 290px; height: 320px;
}

.card {
    background-color: transparent;
}

footer {
    text-align:center;
}
